*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', Arial, sans-serif;
}

/* Header  */

header .topbar{
    padding: 20px 1%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.topbar .menu-destra{
    display: flex;
    width: 30%;
    align-items: center;
}
.topbar .menu-sinistra{
    display: flex;
    width: 25%;
}

.topbar .menu-column-destra{
    width: 50%;
}

.topbar .menu-column-sinistra{
    width: 92%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar .menu-column-sinistra .main-menu{
    width: 60%;
}

.topbar .main-menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type:none
}

.topbar .main-menu li{
    font-size: 15px;
}

.topbar .buttom-column{
    background-color: #0061ff;
    padding: 5px 10px;

}

.topbar .buttom-column a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* Blocco-1  */

.container-header{
    background-color: #b5d1e8;
    padding-top: 100px;
}

.header-main{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header-main-box-title{
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-main-box-main{
    display: flex;   
}

.img-header-box-main{
    width:100%;
    height:100%;   
}

.testo{
 line-height: 1.5rem;
}

.header-main-box-main .img-header-box-main{
    width: 70%;
}

.BottoneH{
    background-color: #0061ff;
    color: white;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
}

.font-awesome-arrow{
font-size: 60px;
padding-top: 15rem;
}
.header-box-bottone{
    padding-top: 35px;
    padding-bottom: 35px;
}


